.center {
  text-align: center;
}

@font-face {
  font-family: "Minecraft";
  src: url(fonts/Minecraft.ttf); format('truetype');
  font-style: normal;
  font-weight: 100;
}
  body { font-family: "Minecraft", arial; font-size: 24px; font-weight: 100;}